.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;

  span,
  &::after, 
  &::before {
    height: 3px;
    width: 100%;
    position: absolute;
    margin: 0 auto;
  }

  &::after, 
  &::before {
      content: '';
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      background: var(--burger-color);
  }

  &::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }

  &::before {
    top: 0;
    box-shadow: 0 11px 0 var(--burger-color);
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
}

.burger.active {
  &::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 11px 0 transparent;
  transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  &::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
}