.docText {
  color: var(--color-secondary-text);
  padding: 10px 0;
}

.fieldBlock {
  padding: 4px 0;
}

.field {
  color: var(--color-editor-field);
}

.type {
  color: var(--color-editor-type);
}

.enumBlock {
  padding: 10px 0;
}

.enumValue {
  padding-left: 20px;
  color: var(--color-editor-enum);
  line-height: 1.5;
}