:root {
  --max-content-width: 1280px;
  --max-content-padding: 0px 15px;

  --bg: linear-gradient(45deg, rgb(120, 67, 164), rgb(82, 147, 182));
  --color: rgb(255, 255, 255);
  --bg-color-header: white;
  --bg-color-footer: white;
  --bg-header: rgb(58, 55, 69);
  --bg-footer: rgb(58, 55, 69);
  
  --color-form: #00eeff;
  --color-txt-form: rgb(255, 255, 255);
  --bg-form: #494c4e57;
  --bg-input-focus: rgb(140, 161, 163);
  --color-error: rgb(237, 127, 127);
}
