:root {
  --max-content-width: 1280px;
  --max-content-padding: 0px 15px;

  --bg: linear-gradient(45deg, rgb(120, 67, 164), rgb(82, 147, 182));
  --color: rgb(255, 255, 255);
  --bg-color-header: white;
  --bg-color-footer: white;
  --bg-header: rgb(58, 55, 69);
  --bg-footer: rgb(58, 55, 69);

  --color-primary-text: #2a2a2a;
  --color-secondary-text: rgb(87, 87, 87);
  --bg-color-editor: rgba(255, 255, 255, 0.6);
  --color-editor-buttons: #a086d9;
  --color-editor-buttons-hover: #734da6;
  --color-separator-border: rgba(128, 128, 128, 0.35);

  --color-form: #00eeff;
  --color-txt-form: rgb(255, 255, 255);
  --bg-form: #494c4e57;
  --bg-input-focus: rgb(140, 161, 163);
  --color-error: rgb(237, 127, 127);

  --burger-color: rgb(255, 255, 255);

  --color-editor-field: rgb(72, 72, 201);
  --color-editor-type: rgb(185, 117, 7);
  --color-editor-enum: rgb(185, 18, 18);
}
