.active {
  font-weight: 700;
}

.inactive {
  color: gray;
}

.fieldBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;

  span {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}