.switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  margin: 10px auto;
  height: 34px;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: rgb(0, 0, 0) url('../../assets/3233852_forecast_moon_night_star_weather_icon.svg') 30px 20px /
    100%;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2c2c31;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: rgb(255, 255, 255) url('../../assets/2682848_day_forecast_sun_sunny_weather_icon.svg') 30px 20px /
    80%;
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
