.responseContainer {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 0;
  padding: 10px;
  color: var(--color-primary-text);
  overflow: auto;

  @media screen and (max-width: 768px) {
    border-radius: 0 0 10px 10px;
  }

  .title {
    font-weight: 700;
  }
}