.lang {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
}

.flag {
  width: 35px;
  position: relative;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  &.active {
    transform: rotate(180deg);
  } 
}

.langList {
  position: absolute;
  top: 75px;
  
}

